OPENROUTER_API_KEY=your_openrouter_api_key_here
GITHUB_TOKEN=your_github_token_here
GITHUB_OWNER=your_github_owner
GITHUB_REPO=your_default_repo_name
GITHUB_REPO_OPTIONS=repo1,repo2,repo3,repo4,repo5
